.main-container {
    width: 100%;
    height: 100vh;
}

.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideList-container {
    width: 20%;
    border-right: 1px solid var(--orange);
    height: 100%;
}

.centralChat-container {
    width: 80%;
}