.App {
  text-align: center;
  height: 100vh;
}

.App > h1 {
  color: var(--orange)
}

.App-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92vh;
}

.menu {
  width: 18%;
  height: 100%;
  border: none;
  border-right: 1px solid #dadee1;
}

.content {
  width: 82%;
  height: 100%;
}


